@model List<AboutListViewModel>
<section class="w3l-index-about py-5" id="about2">
    <div class="container py-md-5 py-2">
        <div class="row">
            <div class="col-lg-6 pe-lg-5">
                <div class="w3l-abouthny-img">
                    <img src="~/RealHouzing-Starter/assets/images/team1.jpg" alt="" class="img-fluid radius-image">
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="w3l-abouthny-info">
                    <h6 class="title-subw3hny">Who we are</h6>
                    <h3 class="title-w3l">Yerel ve Uluslararası Mülkiyette Uzmanlar</h3>
                    <p class="mt-4">
                        15 yıldan fazla deneyime sahibiz, tüm dünyada 70'ten fazla ülkede 20.000'den fazla insan bizim için çalışıyor. İşimiz hakkında daha fazla bilgi edinin! Lorem ipsum vive dolor sit amet.

                        Canlı yayın. Sadece serbest bırakabilirsiniz, ligula'da ultrisler. Tempufddfel lorem ipsum'da oturum açın.
                    </p>
                    <ul class="w3l-right-book w3l-right-book-grid mt-md-5 mt-4">
                        <li><span class="fas fa-check"></span> Olağanüstü mülk</li>
                        <li><span class="fas fa-check"></span> Sosyal sorumluluk</li>
                        <li><span class="fas fa-check"></span> Uzman tavsiyesi alın</li>
                        <li><span class="fas fa-check"></span> Grup yapısı</li>
                        <li><span class="fas fa-check"></span> Uzman hizmetleri</li>
                        <li><span class="fas fa-check"></span> Vizyon ve strateji</li>
                    </ul>
                    <a href="#services" class="btn btn-style btn-primary mt-4">Hizmetlerimizi keşfedin <i class="fas fa-angle-double-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>