@model List<Property2ListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Resim</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Property2ID</th>
            <td>@item.Property2Title</td>
            <td>@item.ImageUrl</td>
            <td><a href="/Property2/DeleteProperty2/@item.Property2ID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Property2/UpdateProperty2/@item.Property2ID" class="btn btn-outline-warning">Güncelle</a></td>
        </tr>
    }

</table>
<br />
<a href="/Property2/AddProperty2/" class="btn btn-outline-success">Ekle</a>


